/tests/.ipynb_checkpoints/
/tests/figures/
/tests/saves/

/tests/draw_network.ipynb
/tests/classification_experiment.ipynb
/nre/network_rendering/saves/
/nre/network_rendering/python/py2js.py
/nre/network_rendering/misc/
/nre/tests/.ipynb_checkpoints/
/nre/tests/saves/
